# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Streamlit
.streamlit/secrets.toml

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk
/bot-db-key.json
logs/
*.csv
max_width.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#   Usually these files are written by a python script from a template
#   before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
# Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
# uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
# poetry.lock
# poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
# pdm.lock
# pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
# pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Redis
*.rdb
*.aof
*.pid

# RabbitMQ
mnesia/
rabbitmq/
rabbitmq-data/

# ActiveMQ
activemq-data/

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#   JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#   be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#   and can be added to the global gitignore or merged into this file.  For a more nuclear
#   option (not recommended) you can uncomment the following to ignore the entire idea folder.
# .idea/

# Abstra
#   Abstra is an AI-powered process automation framework.
#   Ignore directories containing user credentials, local state, and settings.
#   Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#   Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#   that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#   and can be added to the global gitignore or merged into this file. However, if you prefer, 
#   you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Streamlit
.streamlit/secrets.toml
db-key.json
sft_creds.json
sas_ftp_creds.json
queue backups/sas_application_queue.json
queue backups/sas_pickup_queue.json
queue backups/sas_waiting_queue.json
Testing Files/EF45254_20250929070016926659.TXT
Testing Files/EF45255_20250929070017345316.TXT
Testing Files/EF45256_20250929070017770027.TXT
Testing Files/EF45257_20250929070018226661.TXT
Testing Files/EF45258_20250929070018586986.TXT
Testing Files/EF45259_20250929070018999211.TXT
Testing Files/EF45355_20250929070019653143.TXT
Testing Files/EF45355_20250930040112834541.TXT
Testing Files/EF45398_20250930040113379955.TXT
Testing Files/EF45448_20250929070020232111.TXT
Testing Files/EF45698_20250929070020629503.TXT
Testing Files/EF45711_20250929070021012398.TXT
Testing Files/EF45711_20250930040113863275.TXT
Testing Files/EF45798_20250929070021544320.TXT
Testing Files/EF45800_20250929070021868414.TXT
Testing Files/EF45801_20250929070022253340.TXT
Testing Files/EF46038_20250929070022838862.TXT
Testing Files/EF46042_20251001064919035718.TXT
Testing Files/EF46047_20250929070023291068.TXT
Testing Files/EF46089_20250929070023776917.TXT
Testing Files/EF46090_20250930040115112576.TXT
Testing Files/EF46185_20250929070024245113.TXT
Testing Files/EF46324_20250929070024803693.TXT
Testing Files/EF46372_20250929070025172431.TXT
Testing Files/EF46373_20250929070025631288.TXT
Testing Files/EF46432_20250929070026086341.TXT
Testing Files/EF46433_20250929070026431520.TXT
Testing Files/EF46434_20250929070026799537.TXT
Testing Files/EF46436_20250929070027220806.TXT
Testing Files/EF46437_20250929070027568878.TXT
Testing Files/EF46566_20250929070027991543.TXT
Testing Files/EF46586_20250929070028440712.TXT
Testing Files/EF46587_20250929070028842111.TXT
Testing Files/EF46667_20250929070029438856.TXT
Testing Files/EF46667_20250930040116433596.TXT
Testing Files/EF46690_20250929070029934043.TXT
Testing Files/EF46799_20250929070030374200.TXT
Testing Files/EF46804_20250929070030896333.TXT
Testing Files/EF46804_20250930040116844695.TXT
Testing Files/EF46820_20250929070031319293.TXT
Testing Files/EF46823_20250929070031811607.TXT
Testing Files/EF46832_20250929070032253362.TXT
Testing Files/EF46832_20250930040117209554.TXT
Testing Files/EF46834_20250929070032634778.TXT
Testing Files/EF46834_20250930040117421913.TXT
Testing Files/EF46843_20250929070033035833.TXT
Testing Files/EF46865_20250929070033474911.TXT
Testing Files/EF46932_20250929070034058501.TXT
Testing Files/EF46932_20250930040117941473.TXT
Testing Files/EF46940_20250929070034691187.TXT
Testing Files/EF46945_20250929070035068851.TXT
Testing Files/EF46947_20250929070035361539.TXT
Testing Files/EF46962_20250929070035750000.TXT
Testing Files/EF46978_20250929070036193247.TXT
Testing Files/EF46978_20250930040118492836.TXT
Testing Files/EF47012_20250929070036593204.TXT
Testing Files/EF47012_20250930040118810135.TXT
Testing Files/EF47038_20250929070036969201.TXT
Testing Files/EF47308_20250929070037470522.TXT
Testing Files/EF47371_20250929040119347092.TXT
Testing Files/EF47371_20250930103638028582.TXT
Testing Files/EF47385_20250929070038124376.TXT
Testing Files/EF47444_20250929070038385203.TXT
Testing Files/EF47456_20250929070038844584.TXT
Testing Files/EF47460_20250929070039150182.TXT
Testing Files/EF47460_20251001040114639449.TXT
Testing Files/EF47496_20250929070039643062.TXT
Testing Files/EF47496_20251001040114964557.TXT
Testing Files/EF47885_20250929070040129122.TXT
Testing Files/EF48397_20251001064922638251.TXT
Testing Files/EF48417_20250929070040969115.TXT
Testing Files/EF48506_20250929070041410232.TXT
Testing Files/EF48507_20250929070041749659.TXT
Testing Files/EF48515_20250929070042099078.TXT
Testing Files/EF48516_20250929070042415941.TXT
Testing Files/EF48558_20250929070042826673.TXT
Testing Files/EF48571_20250929070043092905.TXT
Testing Files/EF48602_20250929070043417125.TXT
Testing Files/EF48614_20250929070043692769.TXT
Testing Files/EF48615_20250929070043966360.TXT
Testing Files/EF48615_20251001040117834417.TXT
Testing Files/EF48616_20250929070044254197.TXT
Testing Files/EF48690_20250929070044675156.TXT
Testing Files/EF48690_20251001040118914017.TXT
